---
- name: Set up version seperator
  when: dnsdist_package_version != ''
  block:
    - name: Prefix the version with the correct separator on RedHat
      ansible.builtin.set_fact:
        _dnsdist_package_version: -{{ dnsdist_package_version }}
      when: ansible_os_family == 'RedHat'

    - name: Prefix the version with the correct separator on Debian
      ansible.builtin.set_fact:
        _dnsdist_package_version: ={{ dnsdist_package_version }}
      when: ansible_os_family == 'Debian'

- name: Remove dnsdist if reinstall is forced
  ansible.builtin.package:
    name: "{{ dnsdist_package_name }}"
    state: absent
  when: dnsdist_force_reinstall | bool

- name: Remove dnsdist debug symbols if reinstall is forced
  ansible.builtin.package:
    name: "{{ dnsdist_debug_symbols_package_name }}"
    state: absent
  when: dnsdist_force_reinstall | bool

- name: Install dnsdist
  ansible.builtin.package:
    name: "{{ dnsdist_package_name }}{{ _dnsdist_package_version | default('') }}"
    state: latest

- name: Install dnsdist debug symbols
  ansible.builtin.package:
    name: "{{ dnsdist_debug_symbols_package_name }}{{ _dnsdist_package_version | default('') }}"
    state: latest
  when: dnsdist_install_debug_symbols_package | bool
