---

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags:
    - always

- name: Setup repository
  ansible.builtin.include_tasks: "repo-{{ ansible_os_family }}.yml"
  when: dnsdist_install_repo | length > 0
  tags:
    - install
    - repository

- name: Install dnsdist
  ansible.builtin.include_tasks: install.yml
  tags:
    - install

- name: Create encryption key
  when: dnsdist_generatekey
  tags:
    - install
    - configure
    - config
  block:
    - name: Check if the key is already present in the DNSdist configuration file
      ansible.builtin.shell: |
        set -o pipefail && grep '^\s*setKey' "{{ default_dnsdist_config_location }}" | sed 's/.*setKey("\(.*\)").*/\1/'
      args:
        executable: /bin/bash
      register: _dnsdist_grepkey
      changed_when: false
      failed_when: false

    - name: Set up new encryption key
      # if the config file does not contains a key already
      when: _dnsdist_grepkey.rc > 0 or _dnsdist_grepkey.stdout | length == 0
      block:
        - name: Generate encryption key  # noqa no-changed-when
          ansible.builtin.shell: head -c 32 /dev/urandom | base64
          args:
            executable: /bin/bash
          register: _dnsdist_setkey_generate
          changed_when: true

        - name: Base64 encode encyption key
          ansible.builtin.set_fact:
            dnsdist_setkey: "{{ _dnsdist_setkey_generate.stdout }}"

    - name: Set old encryption key
      ansible.builtin.set_fact:
        dnsdist_setkey: "{{ _dnsdist_grepkey.stdout }}"
      when: _dnsdist_grepkey.rc == 0 and _dnsdist_grepkey.stdout | length > 0

- name: Build config file
  ansible.builtin.include_tasks: configure.yml
  tags:
    - configure
    - config

- name: Set the status of the dnsdist service
  ansible.builtin.service:
    name: dnsdist
    state: "{{ dnsdist_service_state }}"
    enabled: "{{ dnsdist_service_enabled }}"
  tags:
    - service
