{% for local in dnsdist_locals %}
{% if loop.first %}
setLocal("{{local}}")
{% else %}
addLocal("{{local}}")
{% endif %}
{% endfor %}

{% for acl in dnsdist_acls %}
addACL("{{acl}}")
{% endfor %}

{% for server in dnsdist_servers %}
{% if "{" in server %}
newServer({{server}})
{% else %}
newServer("{{server}}")
{% endif %}
{% endfor %}

{% if dnsdist_controlsocket != "" %}
controlSocket("{{ dnsdist_controlsocket }}")
{% endif %}
{% if dnsdist_setkey | length > 0 %}
setKey("{{ dnsdist_setkey }}")
{% endif %}

{% if dnsdist_webserver_address|length>0 and dnsdist_webserver_password|length>0 %}

{% if _dnsdist_installed_version is defined and _dnsdist_installed_version is version('1.5', operator='lt') %}
{# dnsdist 1.4x or older: #}
{% if dnsdist_webserver_apikey|length>0 %}
webserver("{{ dnsdist_webserver_address }}", "{{ dnsdist_webserver_password }}", "{{ dnsdist_webserver_apikey }}")
{% else %}
webserver("{{ dnsdist_webserver_address }}", "{{ dnsdist_webserver_password }}")
{% endif %}

{% else %}
{# dnsdist 1.5x or newer: #}
webserver("{{ dnsdist_webserver_address }}")
{% if dnsdist_webserver_apikey|length>0 and dnsdist_webserver_acl|length>0 %}
setWebserverConfig({password="{{ dnsdist_webserver_password }}", apiKey="{{ dnsdist_webserver_apikey }}", acl="{{ dnsdist_webserver_acl }}"})
{% elif dnsdist_webserver_apikey|length>0 %}
setWebserverConfig({password="{{ dnsdist_webserver_password }}", apiKey="{{ dnsdist_webserver_apikey }}"})
{% else %}
setWebserverConfig({password="{{ dnsdist_webserver_password }}"})
{% endif %}

{% endif %}
{% endif %}

{% if dnsdist_carbonserver != "" %}
carbonServer("{{dnsdist_carbonserver}}")
{% endif %}

{% for tlslocal in dnsdist_tlslocals %}
addTLSLocal({{tlslocal}})
{% endfor %}

{{ dnsdist_config }}
