{% for local in dnsdist_locals %}
setLocal("{{local}}")
{% endfor %}

{% for acl in dnsdist_acls %}
addACL("{{acl}}")
{% endfor %}

{% for server in dnsdist_servers %}
newServer("{{server}}")
{% endfor %}

{% if dnsdist_webserver_address != "" and dnsdist_webserver_password != "" %}
webserver("{{ dnsdist_webserver_address }}", "{{ dnsdist_webserver_password }}")
{% endif %}

{% if dnsdist_setkey != "" %}
setKey("{{dnsdist_setkey}}")
{% endif %}

{% if dnsdist_carbonserver != "" %}
carbonServer("{{dnsdist_carbonserver}}")
{% endif %}

{{ dnsdist_config }}
