{% for local in dnsdist_locals %}
{% if loop.first %}
setLocal("{{local}}")
{% else %}
addLocal("{{local}}")
{% endif %}
{% endfor %}

{% for acl in dnsdist_acls %}
addACL("{{acl}}")
{% endfor %}

{% for server in dnsdist_servers %}
newServer("{{server}}")
{% endfor %}

{% if dnsdist_controlsocket != "" %}
controlSocket("{{ dnsdist_controlsocket }}")
{% endif %}
{% if dnsdist_setkey is defined and dnsdist_setkey != "" %}
setKey("{{dnsdist_setkey}}")
{% endif %}

{% if dnsdist_webserver_address != "" and dnsdist_webserver_password != "" %}
{% if dnsdist_webserver_apikey == "" %}
webserver("{{ dnsdist_webserver_address }}", "{{ dnsdist_webserver_password }}")
{% else %}
webserver("{{ dnsdist_webserver_address }}", "{{ dnsdist_webserver_password }}", "{{ dnsdist_webserver_apikey }}")
{% endif %}
{% endif %}

{% if dnsdist_carbonserver != "" %}
carbonServer("{{dnsdist_carbonserver}}")
{% endif %}

{% for tlslocal in dnsdist_tlslocals %}
addTLSLocal({{tlslocal}})
{% endfor %}

{{ dnsdist_config }}
